cffi==2.0.0
cryptography==46.0.5
et_xmlfile==2.0.0
greenlet==3.3.1
msoffcrypto-tool==6.0.0
numpy==2.4.2
olefile==0.47
openpyxl==3.1.5
pandas==3.0.0
pycparser==3.0
pymssql==2.3.13
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==2.0.46
typing_extensions==4.15.0
